.env
env
node_modules
/node_modules/
.DS_Store
.config
confi
config.py
Dockerfile
config.json
.myenv
myenv
env
myenv/
/myenv
/bin
.bin
bin
myenv/bin
myenv/bin/
include
myenv/include

vscode/settings.json
.vscode/settings.json
settings.json

__pycache__
*.pyc

.aider*
